main {
  margin: 5px;
}

#input-div {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 0px;
  text-align: center;
}

#carta-texto {
  width: 600px;
  height: 20px;  
}

#criar-carta {
  border: 0px solid;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  background-color: #0951bd;
  color: #ffffff;
}

#carta-gerada {  
  padding-top: 20px;
  text-align: center;
}

/* Requisito 6: Crie a classe newspaper */
.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* Requisito 7: Cria a classe magazine1 */
.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

/* Requisito 8: Cria a classe magazine2 */
.magazine2 {
  background-image: url(images/pink-pattern.png);
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

/* Requisito 9: Cria a classe medium */
.medium {
  font-size: 20px;
  padding: 8px;
}

/* Requisito 10: Cria a classe big */
.big {
  font-size: 30px;
  padding: 10px;
}

/* Requisito 11: Cria a classe reallybig */
.reallybig {
  font-size: 40px;
  padding: 15px;
}

/* Requisito 12: Cria a classe rotateleft */
.rotateleft {
  transform: rotate(-5deg);
}

/* Requisito 13: Cria a classe rotateright */
.rotateright {
  transform: rotate(5deg);
}

/* Requisito 14: Cria a classe skewleft */
.skewleft {
  transform: skewX(10deg);
}

/* Requisito 15: Cria a classe skewright */
.skewright {
  transform: skewX(-10deg);
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.before-contador {  
  font-size: 20px;  
  margin-right: 8px;
}

#carta-contador {  
  font-size: 20px;  
}